<h1>For Salesmen</h1>
<br>
  
  <% @products.each do |product| %>
    <div class="list_items">
      <div class="prod_image">
        <%= image_tag(product.image_url) %>
      </div>
          <h3><%= product.title %></h3>
          
          <%= truncate(strip_tags(product.description), length: 80) %>
        <%= link_to "Show", product %>
        <%= link_to "Edit", edit_product_path(product) %>
        <%= link_to "Destroy", product, confirm: "You sure?", method: :delete %>

    </div>
    <%end%>

  <%= link_to 'New Product', new_product_path %>


